.cart {
  position: fixed;
  right: 0;
  width: 30%;
  height: 100vh;
  background-color: #1f1f1f;

  padding: 10px;
  border-radius: 10px;
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.cart #closeBtn {
  position: absolute;
  width: 10%;
  border: none;
  top: 0;
  right: 0;
}
.cart #closeBtn:hover {
  color: red;
}

.cartDisplay {
  visibility: visible;
  opacity: 1;
}
.cart ul {
  clear: right;
  width: 95%;
  margin-top: 10px;
  list-style-type: none;
  padding-left: 0;
}
.cart ul,
li,
p {
  font-size: 1.2rem;
  font-weight: bold;
}
.cart li {
  padding: 5px;
  border-radius: 5px;
  background-color: #751b3f73;
  margin-bottom: 5px;
  color: whitesmoke;
}
.cart p {
  color: white;
}
.cart p span {
  margin-left: 5px;
}
.itemsCon {
  height: 75%;
  overflow: auto;
  background-color: transparent;
}
.cartBottom {
  padding: 10px;
  background-color: #1f1f1f;
  width: 100%;
  height: 10%;

  /* position: absolute; */
}
.cartBottom p {
  width: 100% !important;
}
#Cart_Button {
  margin-right: 30px;
}

.checkout {
  color: white;
  text-align: center;
  font-size: 20px;
}
.checkout i {
  color: yellow;
  font-size: 25px;
  display: inline;
}
.checkout p {
  display: inline-block;
}
.cart button {
  display: inline-block;
  width: 40%;
  padding: 5px;
  margin: 10px;
  border-color: white;
  color: white;
  transition: all 0.1s;
  overflow: hidden;
  font-size: 25px;
}

.cart .cartBottom button:hover {
  background-color: #4d182d;
  /* border: 1px solid #; */
}

.cart .StateButton {
  width: auto;
  background-color: transparent;
  border: none;
  outline: none;
}
@media screen and (max-width: 1030px) {
  .cart {
    width: 60vw;
  }
  .itemsCon {
    height: 80%;
  }
  .cartBottom {
    height: 15%;
  }
}

@media screen and (max-width: 767px) {
  .cart {
    width: 100%;
    height: 100%;
  }
  .itemsCon {
    height: 75%;
  }
  .cartBottom {
    height: 20%;
  }
  .cartBottom button {
    width: 40%;
    font-size: 20px;
  }
}
