@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;1,600&display=swap");
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container,
.container-fluid {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.row {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
.row > * {
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
}
/* .slider {
  height: 100vh;
  width: 100%;
  background-color: aqua;
} */
.navbarTop {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: #101010 !important;
}
.navbarScroll {
  background-color: #101010 !important;
  height: 10vh;
  /* border-bottom: 1px solid #c32865; */
  transition: all 1s;
}
.nav-links ul {
  text-align: center;
}
.nav-links ul li {
  margin-top: 10px;
  font-size: 18px;
  margin-right: 30px;
}
.nav-links .navbar-brand {
  margin-right: 20px;
}
.navbar-brand i {
  color: white;
  /* font-size: 40px; */
  margin-left: 30px !important;
}
.nav-links .navbar-brand i span {
  color: white;
  font-size: 30px;
  margin-left: 15px;
}
.nav-links a {
  border-bottom: 1px solid #20202041;
  transition: border 1s;
}
.nav-links a:hover {
  border-bottom: 1px solid #c32865;
}
.navbar-register-btn {
  background-color: transparent;
  padding: 0;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 20px;
}
.navbar-register-btn:hover {
  color: red;
  background-color: transparent;
}
.CustomSliderHeight {
  height: 900px !important;
}

.AboutUsSection {
  background-color: #191919;

  height: auto;
}
.aboutusTitle {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Poppins", sans-serif;
}
span {
  font-size: 24px;
  font-weight: lighter;
  color: #c32865;
}
#Discription {
  color: #797979;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
.aboutData i {
  font-size: 80px;
  margin: 10px;
  color: white;
  transition: all 0.5s;
}

.aboutData i:hover {
  color: #c32865;
  transform: translateY(-10px);
}
.aboutData p {
  margin: 5px;
  font-size: 1.5rem;
  color: white;
}
.AboutUsSection .aboutImg img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 45%;
}

.AboutUsSection-progress {
  background-image: url("../images/blog-bg.jpg");
  background-color: #202020;
  width: 100%;
  height: auto;
}
.progress {
  width: 80%;
  height: 8px;
}
.progress-bar {
  background-color: #c32865;
  border-radius: 10px;
}
.progress-container {
  margin-top: 30px;
}
.progress-container .para {
  height: 25px;
  width: 80%;
}
.progress-container p {
  display: inline-block;
  font-size: 16px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
.miniSlider-colum {
  height: 100%;
}
.items {
  margin: 0;
}
.slick-slide {
  width: auto;
  height: auto;
  margin: 0;
}

.ourWork {
  background-color: #161616;
  height: auto;
}
.ourWork .aboutusTitle {
  height: 30%;
}
.aboutusTitle #Discription {
  font-weight: lighter;
}
.ourWork .info {
  margin-top: 100px;
}

.ourWork .category img {
  width: 30%;
  height: 300px;
}
.ourWork .brands-section {
  height: 200px;
}

.ourWork .brands img {
  width: 60%;
  height: 30px;
  margin: 20px;
}
.Team-section {
  background-image: url("../images/parallax-img.jpg");
  height: auto;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Team-section .mid-column {
  height: auto;
}
.Team-section .team-members {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.Team-section .team-members div {
  margin-top: 20px;
  height: 50%;
  width: 70%;
  color: white;
  text-align: center;
}
.Team-section .team-members div i {
  color: white;
  font-size: 30px;
}
.Team-section .team-members div p {
  font-size: 1.2rem;
  font-weight: lighter;
}
.Team-section .team-members div img {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
.Team-section .team-members div .image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.inv-section {
  width: 100%;
  height: auto;
  background-color: #171717;
}
.inv-section .info {
  width: 100%;
  height: 20%;
}
.inv-section .cards {
  height: 80%;
  width: 100%;
}

.contact {
  height: auto;
  background-color: #1e1e1e;
}
.contact .just-space {
  height: 10%;
  width: 100%;
}

.contact .form-inputs .form input,
textarea {
  background-color: transparent;
  color: #55757d;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid #797979;
  outline: none;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  width: 90%;
}
textarea {
  resize: none;
  list-style-type: none;
}
.error-message {
  color: red;
  margin-top: 5px;
  margin-left: 20px;
}
.contact .form-inputs .form .btn {
  background-color: #c32865;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  transition: all 0.3s;
  width: 90%;
  margin: 5px;
  outline: none;
  margin-left: 3%;
}
.contact .form-inputs .form input:hover {
  outline: none;

  border-bottom: 1px solid #c32865;
}
.contact .form-inputs .form input:focus {
  outline: none;
  border-bottom: 1px solid #c32865;
  border-radius: 10px;
}
.footer {
  width: 100%;
  height: 20vh;
  background-color: #171717;
}
.footer .row,
.mid-col {
  height: 100%;
}

.footer .row p,
.icons {
  color: white;
}
.footer .row p {
  font-weight: lighter;
  font-size: 12px;
  margin-top: 5px;
}
.footer .row .icons i {
  margin: 10px;
  font-size: 18px;
  padding: 15px;
  border-radius: 50%;
  transition: background 0.5s;
}
.footer .row .icons i:hover {
  background-color: #c32865;
}
.abs_container {
  position: fixed;
  bottom: 5%;
  right: 3%;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.top-buuton {
  /* position: fixed;
  bottom: 5%;
  right: 2%; */

  color: white;
  background-color: #c32865;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  display: none;
}

.top-buuton:hover {
  background-color: #55757d;
}
.FloatCartBuuton {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  cursor: pointer;

  outline: none;
  display: none;
}
.fade {
  transition-duration: 1s;
}

/* -------------- media Query ------------------- */

@media screen and (max-width: 767px) {
  .navbarTop {
    height: 10vh;
    background-color: #101010 !important;
  }
  .nav-links {
    background-color: #101010 !important;
  }
  .aboutData p {
    font-size: 20px;
  }
  .aboutusTitle span {
    font-size: 20px;
  }
  .aboutusTitle {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .AboutUsSection .aboutImg img {
    width: 100%;
  }
  .ourWork .category img {
    width: 45%;
    height: 200px;
  }
  .ourWork button {
    width: 40%;
  }
  .ourWork .brands img {
    width: 100%;
    height: 50px;

    margin-right: 20px;
  }
}
@media screen and (max-width: 1030px) {
  .nav-links {
    background-color: #101010 !important;
  }
  .ourWork button {
    padding: 5px;
    margin: 5px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #c32865; /* Color of the thumb (the draggable part of the scrollbar) */
}
